 <body id="signup"> 
  <nav class="top-bar" data-topbar >
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Disney Tresure Hunt', root_path%></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <%if !current_user%>
      <li ><%= link_to 'Badge Gallery', badges_path%></li>
      <li class="active"><%= link_to 'Map of Badge Location', maps_path%></li>
      <li ><%= link_to 'Photo Gallery of Guests', pictures_path%></li>
      <li><%= link_to "Sign in", new_sessions_path%></li>
      <% else %>
      <li class="active" ><%= link_to 'Badge Gallery', badges_path%></li>
      <li class = "has-dropdown">
        <%= link_to 'Your Disney Memories', users_path%>
          <ul class = "dropdown">
            <li><%= link_to 'Your Badge Collection', my_badges_path%></li>
          </ul>
      </li>
      <li class="active"><%= link_to 'Map of Badge Location', maps_path%></li>
      <li ><%= link_to 'Photo Gallery of Guests', pictures_path%></li>
      <li><%= link_to "Sign out", sessions_path, :method => :delete %></li>
      <%end %>
    </ul>
  </section>
</nav>
<% flash.each do |key, value| %>
  <div data-alert class="alert-box alert">  
    <div class="alert alert-<%= key %>" style="text-align:center"><%= value %></div>
  </div>
<% end %>
    <fieldset>
        <legend>New User</legend>
    
      <%= form_for @user do |f| %>
        <label>First Name: <%= f.text_field :first_name, class: 'form-control', autofocus: true, placeholder: 'First Name' %> </label>
        <label>Last Name <%= f.text_field :last_name, class: 'form-control', autofocus: true, placeholder: 'Last Name' %></label>
        <label>Email: <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'your email address' %></label>
        <label>Password: <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: 'password' %></label>
        <%= f.submit "Join the fun!", class: "button tiny radius" %>
      <% end %>
    </fieldset>
</body>
		
			
		